apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patchesJson6902:
  - target:
      group: ""
      version: v1
      kind: Service
      name: traefik
      namespace: traefik
    path: service-ports.patch.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: traefik
      namespace: traefik
    path: deployment-args.patch.yaml
