apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../http
patches:
  - target:
      kind: Deployment
      name: traefik
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --api.insecure=true
